.refresh_btn {
  width: 130px;
  height: 40px;
  border-radius: 10px;
  border: var(--card-border);
  box-shadow: var(--card-shadow);
  color: var(--accent-blue-text);
  background-color: var(--accent-blue);
}

.refresh_btn:hover {
  background-color: var(--accent-blue-hover);
  color: var(--accent-emerald-text);
}