.container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-evenly;
  height: 100%;
  width: 16%;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: var(--card-border);
  margin: 20px 0;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  height: 80pxauto;
}
.header_textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header_title {
  font-size: 12px;
  font-weight: 700;
  color: var(--text-primary);
}
.header_subtitle {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  color: var(--text-muted);
}
.header_logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--bg-white);
  border-radius: 25px;
  aspect-ratio: 1 / 1;
}
.header_logo {
  width: 80%;
  height: 100%;
  object-fit: contain;
}

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu_item {
  width: 100%;
  height: 40px;
  border-radius: 10px;
}
.menu_item:last-child {
  margin-top: auto;
}

.menu_button {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  color: var(--btn-disabled-text);
  border-radius: 10px;
  border: var(--card-border);
}
.menu_button_active {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
  color: var(--text-primary);
  border: var(--card-border);
  background-color: var(--bg-white);
  box-shadow: var(--card-shadow);
}
.menu_button:hover {
  color: var(--text-primary);
  background-color: var(--bg-subtle);
}