:root {
  /* === BACKGROUND === */
  --bg-white: #ffffff;
  --bg-grey: #f1f1f1;
  --bg-grey-light: #f7f7f7;
  --bg-black: #303030;

  --text-primary: #303030;
  --text-secondary: #616161;
  --text-disabled: #cacaca;
  --text-grey: #737373;
  --text-white: #ffffff;

  /* === BORDER === */
  --border-grey: #e5e7eb;
  --border-black: #303030;

  /* === CARD === */
  --card-shadow:0rem .3125rem .3125rem -.15625rem #00000008, 0rem .1875rem .1875rem -.09375rem #00000005, 0rem .125rem .125rem -.0625rem #00000005, 0rem .0625rem .0625rem -.03125rem #00000008, 0rem .03125rem .03125rem 0rem #0000000a, 0rem 0rem 0rem .0625rem #0000000f;
  --card-shadow-lg: 0 8px 24px rgba(0, 0, 0, 0.06);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  line-height: 1.5;

  background: var(--bg-page);
  color: var(--text-secondary);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-rendering: optimizeLegibility;
}

/* === ELEMENT RESET === */
button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}
