:root {
  /* === BACKGROUND === */
  --bg-white: #ffffff;
  --bg-grey: #f1f1f1;
  --bg-grey-light: #f7f7f7;
  --bg-black: #303030;

  --text-primary: #303030;
  w: #616161;
  --text-disabled: #cacaca;
  --text-grey: #737373;
  --text-white: #ffffff;

  /* === BORDER === */
  --border-grey: #e5e7eb;
  --border-black: #303030;

  /*  === BTN === */
  --btn-submit-bg: #16a34a;
  --btn-submit-bg-hover: #15803d;
  --btn-clear-bg: #dc2626;
  --btn-clear-bg-hover: #991b1b;

  /* === CARD === */
  --card-shadow:
    0rem 0.3125rem 0.3125rem -0.15625rem #00000008, 0rem 0.1875rem 0.1875rem -0.09375rem #00000005,
    0rem 0.125rem 0.125rem -0.0625rem #00000005, 0rem 0.0625rem 0.0625rem -0.03125rem #00000008,
    0rem 0.03125rem 0.03125rem 0rem #0000000a, 0rem 0rem 0rem 0.0625rem #0000000f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  line-height: 1.5;

  background: var(--bg-page);
  color: var(--text-secondary);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-rendering: optimizeLegibility;
}

/* === ELEMENT RESET === */
button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}
