.loader_container {
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-grey);
  transform-origin: center;
}
.loader_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 300px;
  height: auto;
}
.loader_title {
  font-size: 12px;
  font-weight: 600;
  color: var(--text-primary);
}
.loader_track {
  width: 100%;
  height: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px;
  background-color: var(--bg-white);
}
.loader_fill {
  width: 0%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--text-primary);
}
.loader_logo {
  width: 180px;
  height: auto;
  margin-bottom: 24px;
}
