.header {
  font-size: 12px;
  font-weight: 700;
  color: #222531;
  background: #ffffff;
  height: 48px;
  padding: 0 16px;
  border-bottom: 1px solid #e5e7eb;
  text-align: left;
  text-transform: none;
}

.row {
  border-bottom: 1px solid #e5e7eb;
  cursor: default;
  background: #ffffff;
}
.row:hover {
  background: #eff1f5;
}

.cell {
  padding: 16px 16px;
  font-size: 12px;
  font-weight: 400;
  color: #657084;
  vertical-align: middle;
}
