.filters_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 20px;
  width: 98%;
  height: 80px;
  padding-left: 20px;
  background-color: var(--bg-grey);
}
.filter_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: auto;
  height: auto;
  padding: 8px 20px;
  border-radius: 10px;
  border: 1px solid var(--bg-grey-light);
  background-color: var(--bg-grey-light);
  box-shadow: var(--card-shadow);
  color: var(--text-disabled);
  font-size: 14px;
  font-weight: 600;
}
.filter_button:hover {
  background-color: var(--bg-white);
  border: 1px solid var(--bg-grey-light);
  color: var(--text-black);
}
.filter_button.active {
  background-color: var(--bg-black);
  color: var(--text-white);
  border: 1px solid var(--border-black);
}
