.counter_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.counter_track {
  width: 50%;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 20px;
  background-color: var(--bg-grey);
}
.counter_fill {
  height: 5px;
  border-radius: 20px;
  background-color: var(--text-primary);
}
.counter_text {
  font-size: 10px;
  font-weight: 600;
  color: var(--text-primary);
  margin-bottom: 1px;
}
