.badge_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: auto;
  /* border: 1px solid black; */
}
.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 2px 5px;
  font-size: 10px;
  text-align: center;
  font-weight: 600;
  border-radius: 20px;
}
