.badge_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: auto;
}
.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 3px 1px;
  font-size: 10px;
  text-align: center;
  font-weight: 600;
  border-radius: 7px;
}
