.counter_container {
  display: flex;
  align-items: center;
    justify-content: center;
  width:50%;
  height:100%;
}
.progress_container{
    width: 50%;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
        padding-left: 6px;
    padding-right: 6px;
    border-radius:20px;
    background-color: var(--bg-grey);
}
.counter_progress{
    width: 10%;
    height: 5px;
    border-radius:20px;
    background-color: var(--text-black);
}